*{
    box-sizing: border-box;
}

.container{
    border: solid 1px gray;
    margin: auto;
    width: 970px;
}

header{
    height: 100px;
    background-color: aquamarine;
    padding-top: 30px;
    box-sizing: border-box;

    h1{
        margin: 0;
        margin-left: 5px;
        color: blue;
    }
}

main{
    min-height: 400px;
    display: flex;
    padding: 10px 100px;
    gap: 2%;
    flex-wrap: wrap;

    .main-content{
        width: 59%;
        height: 200px;
        background-color: green;
    }

    .sidebar{
        width: 39%;
        height: 200px;
        background-color: red;
    }

    .twin{
        width: 49%;
        height: 150px;
        background-color: rgb(179, 169, 33);
    }
}

footer{
    height: 50px;
    background-color: blueviolet;
    padding-top: 10px;

    .footer{
        color: antiquewhite;
        font-size: 1.7em;
        font-weight: bold;
        margin-left: 5px;
    }
}