table{
    border: solid 4px black;
    width: 700px;
    height: 400px;
    margin: auto;
}

table td{
    border:solid 3px green;
    height: 100px;
    width: 100px;
}

p{
    border-bottom: solid 1px black;
    width: 50%;
    margin: auto;
}

.img1{
    width: 100px;
    height: 100px;
}

.td1{
    background-color: aqua;
}
