@font-face{
    font-family: font1;
    src: url(GilliganShutter.ttf);
}

@font-face{
    font-family: font2;
    src: url(ProtanSheyom.ttf);
}

div{
    border: solid 5px blue;
}

div:nth-child(1){
    border-bottom-style: dashed;
    border-bottom-width: 8px;
    border-bottom-color: red;
}

div:nth-child(5){
    border-bottom: dotted 12px green;
}

.div-text-format{
    font-size: 2em;
    font-weight: bold;
    text-decoration: line-through;
    font-family: font1;
}
