*{
    box-sizing: border-box;
}

header, main, footer{
    border: solid 1px black;
    min-height: 50px;
    margin: 10px auto;
}

nav{
    ul {
        padding: 0;
        margin: 0;

        li{
            list-style: none;
            border-bottom: solid 1px black;

            a{
                display: block;
                padding: 10px;
                text-decoration: none;
            }

            a:hover{
                background-color: antiquewhite;
            }
        }
    }
}

.content{
    article{
        min-height: 100px;
        border: solid 1px black;
        margin: 10px;
        padding: 20px;
        background-color: aqua;
    }
}

@media screen and (min-width:600px) {
    main{
        display: flex;
    }

    nav{
        width: 20%;
    }

    .content{
        width: 80%;
    }
}

@media screen and (min-width:1200px) {
    .content{
        display: flex;
        flex-wrap: wrap;
        gap: 2%;

        article{
            width: 49%;
            margin: 10px 0px;
        }
    }
}