$bodyBgColor-1:antiquewhite;
$pBgColor:rgb(127, 187, 255);

@import "scss/bg_colours";

body{
    background-color:$bodyBgColor-1;
}

.p-1{
    background-color: $pBgColor-2;
    border: solid;
    height: 100px;
}

.p-2{
    background-color: $pBgColor;
    border: solid 5px;
    height: 100px;
}

.menu-1{
    background-color: white;
    border: solid 2px black;
    ul{
        background-color: blueviolet;
        width: 50%;

        a{
            color: white;
        }
    }
}

