body {
  background-color: antiquewhite;
}

.p-1 {
  background-color: rgb(133, 255, 127);
  border: solid;
  height: 100px;
}

.p-2 {
  background-color: rgb(127, 187, 255);
  border: solid 5px;
  height: 100px;
}

.menu-1 {
  background-color: white;
  border: solid 2px black;
}
.menu-1 ul {
  background-color: blueviolet;
  width: 50%;
}
.menu-1 ul a {
  color: white;
}/*# sourceMappingURL=style.css.map */