* {
  box-sizing: border-box;
}

.container {
  width: 700px;
  min-height: 700px;
  background-color: beige;
  border: solid 2px gray;
  margin: 10px auto;
  display: grid;
  grid-template-columns: auto 20% 100px auto;
  grid-template-rows: auto 50px auto auto;
}
.container div {
  background-color: aqua;
  border: solid 1px black;
  padding: 5px;
}
.container .item-4 {
  grid-column: 1/4;
  grid-row: 2/4;
}
.container .item-7 {
  grid-row: 1;
}
.container .item-10 {
  grid-column: 2/4;
  grid-row: 3;
  background-color: brown;
}/*# sourceMappingURL=style.css.map */