main {
  border: dotted 3px green;
  width: 800px;
  min-height: 300px;
  margin: 10px auto;
  padding: 10px;
  background-color: beige;
}
main div {
  width: 150px;
  height: 150px;
  background-color: aqua;
}

.div-anime-1 {
  transform: translate(50px, 70px);
}

.div-anime-2 {
  transform: translate(50px, 70px);
  transform: rotate(60deg);
  background-color: aquamarine;
}

.div-transition-1 {
  width: 300px;
  height: 250px;
  background-color: red;
  transition: width 2s;
}

.div-transition-1:hover {
  width: 100px;
  background-color: yellowgreen;
}

@keyframes my-anime-1 {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(500px, 70px);
  }
}
.anime-1 {
  background-color: brown;
  animation-name: my-anime-1;
  animation-duration: 4s;
  animation-iteration-count: 3;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

.main-class {
  margin: 100px auto;
  padding: 0;
}

@keyframes ball_action {
  from {
    transform: translate(-25px, -25px);
  }
  to {
    transform: translate(-25px, 275px);
  }
}
.ball {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  background-color: rebeccapurple;
  transform: translate(-25px, -25px);
  animation-name: ball_action;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}/*# sourceMappingURL=style.css.map */