@import "scss/borders";
@import "scss/colors";
@import "scss/margins";


body{
    background-color: $color1;
}

div{
    background-color: $color3;
    border: $border2;
    height: 150px;
    width: 300px;
}

.div-1{
    background-color: coral;
}

.div-2{
    border: $border1;
    padding-left: 30px;
    padding-top: 50px;
}

.div-3{
    margin-top: 100px;
    margin-bottom: 150px;
    margin-left: 50px;
}