body {
  background-color: rgb(24, 127, 93);
}

div {
  background-color: rgba(144, 149, 148, 0.793);
  border: dotted 2px rgb(52, 9, 162);
  height: 150px;
  width: 300px;
}

.div-1 {
  background-color: coral;
}

.div-2 {
  border: solid 2px rgb(5, 92, 5);
  padding-left: 30px;
  padding-top: 50px;
}

.div-3 {
  margin-top: 100px;
  margin-bottom: 150px;
  margin-left: 50px;
}/*# sourceMappingURL=style.css.map */