body{
    background-color: beige;
    /* background-image: url(webdesign.jfif); */
}

#my-selector-2{
    background-color: yellowgreen;
    font-size: 2.5em;
    text-shadow: 4px 4px gray;
}

#my-selector-3{
    background-color: gold;
    font-size: 2.5em;
    text-shadow: 4px 4px gray;
}