form, div {
  border: solid 2px green;
  max-width: 50%;
  min-height: 20ch;
  margin: 10px auto;
  padding: 20px;
}
form button, div button {
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}
form input, div input {
  padding: 7px;
}/*# sourceMappingURL=style.css.map */