body{
    height: 1700px;
}

div{
    border:solid 5px green;
    height: 100px;
    margin: 10px;
    width: 250px; 
    text-align: center;
    font-size: 3em;
}

.pos-ex-1{
  background-color: aquamarine;
  position: absolute;
  bottom:200px;
  right:100px;  
}

.d-5{
    background-color: chocolate;
    width: 300px;
    position: fixed;
    right: 50px;
}

.pos-ex-2{
    background-color: cadetblue;
    position: relative;
    left: 200px;
    top:80px
}

.pos-ex-3{
    background-color: rgb(49, 128, 230);
    position: sticky;
    top:40px;
}

main{
    // height: 500px;
    width: 70%;
    margin: auto;
    border: dotted 7px red;
    // overflow: hidden;

    div{
        background-color: deeppink;
        // float: left;
        display: inline-block;
        padding: 10px;
    }
}