header, main, footer{
    border: solid 1px black;
    min-height: 50px;
    margin: 20px auto;
    width: 80%;
}

@media screen and (max-width:600px) {
    header {
        background-color: antiquewhite;
    }

    header, main, footer{
        width: 100%;
    }
}

@media screen and (min-width:1200px) {
    main{
        min-height: 400px;
        background-color: aqua;
    }
}